<%= render 'public/shared/head' %>
<br>
<br>
<br>
<br>
<br>
<a href="/public/games/new/">Nytt spel</a>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

