<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">      </button>
      <a class="navbar-brand" href="#">Power On Grids</a>
      <% for nav in navbar %>
        <%= nav %>
      <% end %>
    </div>
  </div>
</nav>
