<%= render 'public/shared/head' %>
<br>
<br>
<br>
<br>
<div class="container">
  <a href="/admin/map/new/">Ny Karta</a>
  <table class="table">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
